* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  padding: 40px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.item1 {
  background-color: aqua;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  background-color: red;
  grid-row-start: -1;
  grid-row-end: -3;
  grid-column-start: -2;
  grid-column-end: -1;
}
.item3 {
  background-color: purple;
}
.item4 {
  background-color: yellow;
}
